<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyTodoList{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-dark static-top">
            <div class="container">
                <div>
                    <a class="navbar-brand text-white" href="{{ path('app_homepage') }}">MyTodoList</a>
                </div>
                <div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('app_register') }}">Sign up</a>
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 2em;">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
